<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AddTask</title>
    <link rel="stylesheet" href="../styles/addTask.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="/styles/storage.css">
    <script src="./js/storageToken.js" defer></script>
    <script src="./js/storage.js" defer></script>
    <script src="./js/register.js" defer></script>
    <script src="./js/index.js" defer></script>
    <script src="/js/navBar.js" defer></script>
    <script src ="../js/addTask.js" defer></script>
    <script src="js/header.js" defer></script>
</head>
<body onload="init(), includeHTML()">
    <div w3-include-html="/templates/navBar.html"></div>
    <div w3-include-html="/templates/header.html"></div>
    <div class="savingError d-none"><div class="savingError1">Sorry for saving error! <button onclick="closeSavingError()" class="savingErrorButton">OK</button></div></div>
    <div class="loadingError d-none"><div class="loadingError1">Sorry for loading error! <button onclick="closeLoadingError()" class="loadingErrorButton">OK</button></div></div>
    <div class="main-add-task-container">
        <div class="addTask">Add Task</div>
        <div class="taskWrapper">
        <div class="taskFrame">
            <div class="taskTitle">
                <div>Title<span class="red">*</span></div>
                <input id="title" type="text" placeholder="Enter a Title" required>
            </div>
            <div class="description">
                <div>Description</div>
                <textarea id="description" rows="2" cols="25" placeholder="Enter a Description"></textarea>
            </div>
            <div class="assign">
                Assigned to
                <div class="dropdown">
                    <form>
                        <select name="contacts" id="assign">
                          <option value="preview" disabled>Select contacts to assign</option>
                          <option value="contact1">Thomas Müller</option>
                          <option value="contact2">Heinz Schmidt</option>
                          <option value="contact3">Edeltraud Schneider</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <div class="parting-line"></div>
        <div class="taskFrame2">
            <div class="deadline">
                <div>
                    Due Date 
                    <span class="red">*</span>
                </div>
                <!-- Added required attribute -->
                <input id="due" type="date" required />
            </div>
            <div id="priority" class="priority">
                Prio
                <div class="prio">
                    <div><button onclick="activateButton('urgent')" id="urgent">urgent <img src="../img/prio alta.png"></button></div>
                    <div><button onclick="activateButton('medium')" id="medium">medium <img src="../img/Capa 2.png"></button></div>
                    <div><button onclick="activateButton('low')" id="low">low <img src="../img/Capa 1.png"></button></div>
                </div>
            </div>
            <div class="category">
                <div>
                    Category
                    <span class="red">*</span>
                </div>
                <div class="dropdown">
                    <form>
                        <select name="category" id="category">
                          <option value="preview">Select task category</option>
                          <option value="User Story">User Story</option>
                          <option value="Technical Task">Technical Task</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="subtasks">
                <div>Subtasks</div>
                <input id ="subtasks" type="text" placeholder="Add new subtask" />
            </div>
        </div> 
        </div>
        <div class="required-create">
            <div class="required">
        <span class="red">*</span>
        <div>This field is required</div>
            </div>  
            <div class="create">
        <button type="reset" class="clear">Clear <img src="../img/iconoir_cancel.png"></button>
        <button onclick="createTask()" class="createTask">Create Task <img src="../img/check.png"></button>
            </div>
        </div>
    </div>
</body>