<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AddTask</title>
    <link rel="stylesheet" href="../styles/addTask.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="/js/navBar.js"></script>
    <script src ="../js/addTask.js"></script>
</head>
<body onload="init(), includeHTML()">
    <div w3-include-html="/templates/navBar.html"></div>
    <div w3-include-html="/templates/header.html"></div>
    <div class="addTask">Add Task</div>
    <div class="taskWrapper">
    <div class="taskFrame">
        <div class="taskTitle">
            <div>Title<span class="red">*</span></div>
            <input id="title" type="text" placeholder="Enter a Title" />
        </div>
            <div class="description">
                <div>Description</div>
                <textarea id="description" rows="2" cols="25" placeholder="Enter a Description"></textarea>
            </div>
               <div class="assign">Assigned to
                <div class="dropdown">
                    <form>
                        <select name="contacts" id="assign">
                          <option value="preview">Select contacts to assign</option>
                          <option value="contact1">Thomas Müller</option>
                          <option value="contact2">Heinz Schmidt</option>
                          <option value="contact3">Edeltraud Schneider</option>
                        </select>
                </div>
               </div>
    </div>
    <div class="taskFrame2">
        <div class="deadline">
            <div>Due Date <span class="red">*</span></div>
            <input id="due" type="date" value="dd//mm//yyyy" />
        </div>
        <div id="priority" class="priority">
            Priority
            <div class="prio">
                <div><button onclick="activateButton('urgent')" id="urgent">Urgent <img src="../img/prio alta.png"></button></div>
                <div><button onclick="activateButton('medium')" id="medium">Medium <img src="../img/Capa 2.png"></button></div>
                <div><button onclick="activateButton('low')" id="low">Low <img src="../img/Capa 1.png"></button></div>
            </div>
        </div>
        
            
            <div class="category">
                <div>Category</div>
                <div class="dropdown">
                    <form>
                        <select name="contacts" id="category">
                          <option value="preview">Select task category</option>
                          <option value="UserStory">User Story</option>
                          <option value="TechnicalTask">Technical Task</option>
                          
                        </select>
                </div>
        </div>
        <div class="subtasks">
            <div>Subtasks</div>
            <input id ="subtasks" type="text" placeholder="Add new subtask" />
        </div>
        </div> 
    </div>
    <div class="required">
        <span class="red">*</span><div>This field is required</div>
    </div>  
    <div class="create">
        <button class="clear">Clear <img src="../img/iconoir_cancel.png"></button>
        <button onclick="createTask()" class="createTask">Create Task <img src="../img/check.png"></button>
    </div>
</div>        
</div>

</body>
</html>