<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AddTask</title>
    <link rel="stylesheet" href="../styles/addTask.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="./js/storageToken.js" defer></script>
    <script src="./js/storage.js" defer></script>
    <script src="./js/register.js" defer></script>
    <script src="./js/index.js" defer></script>
    <script src="/js/navBar.js" defer></script>
    <script src ="../js/addTask.js" defer></script>
    <script src="js/header.js" defer></script>
</head>
<body onload="init(), includeHTML()">
    <div w3-include-html="/templates/navBar.html"></div>
    <div w3-include-html="/templates/header.html"></div>
    <div class="main-add-task-container">
        <div class="addTask">Add Task</div>
        <div class="taskWrapper">
        <div class="taskFrame">
            <div class="taskTitle">
                <div>Title<span class="red">*</span></div>
                <input id="title" type="text" placeholder="Enter a Title" required>
            </div>
            <div class="description">
                <div>Description</div>
                <textarea id="description" rows="2" cols="25" placeholder="Enter a Description"></textarea>
            </div>
            <div class="assign">
                Assigned to
                <input class="assignContact">
                <div id="contactsDropdown" class="contacts-dropdown">
                    <!-- Contacts will be dynamically inserted here -->
                </div>
            </div>
            <div id="selectedContactsContainer" class="selected-contacts-container">
                <!-- Selected contacts' initials will be displayed here -->
            </div>
            
        </div>
        <div class="parting-line"></div>
        <div class="taskFrame2">
            <div class="deadline">
                <div>
                    Due Date 
                    <span class="red">*</span>
                </div>
                <input required id="due"  pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" placeholder="dd/mm/yyyy" class="inputBoardEdit width100PercMinus26Px focusBlueBorder" type="text">
                        
            </div>
            <div id="priority" class="priority">
                Prio
                <div class="prio">
                    <div><button type="button" onclick="activateButton('urgent')" id="urgent">urgent <img src="../img/prio alta.png"></button></div>
                    <div><button type="button" onclick="activateButton('medium')" id="medium">medium <img src="../img/Capa 2.png"></button></div>
                    <div><button type="button" onclick="activateButton('low')" id="low">low <img src="../img/Capa 1.png"></button></div>
                  </div>
            </div>
            <div class="category">
                <div>
                    Category
                    <span class="red">*</span>
                </div>
                <div class="dropdown">
                    <form>
                        <select name="category" id="category">
                          <option value="preview">Select task category</option>
                          <option value="User Story">User Story</option>
                          <option value="Technical Task">Technical Task</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="subtasks">
                <div>Subtasks</div>
                <input id ="subtasks" type="text" placeholder="Add new subtask" />
            </div>
        </div> 
        </div>
        <div class="required-create">
            <div class="required">
        <span class="red">*</span>
        <div>This field is required</div>
            </div>  
            <div class="create">
        <button type="reset" class="clear">Clear <img src="../img/iconoir_cancel.png"></button>
        <button type="button" onclick="createTask()" class="createTask">Create Task <img src="../img/check.png"></button>
            </div>
        </div>
    </div>
</body>

