body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

@font-face {
    font-family: "Inter", sans-serif;
    src: url(/fonts/inter-v13-latin-regular.woff2);
}

.main-add-task-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
}

.addTask {
    margin-left: 328px;
    margin-right: 40px;
    margin-top: 206px;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 1);
    font-size: 61px;
    font-weight: 700;
}

.taskWrapper {
    margin-left: 328px;
    display: flex;
    margin-right: 40px;
    justify-content: center;
    height: 424px;
}

.parting-line {
    height: 375px;
    width: 1px;
    background-color: #D1D1D1;
}

.taskFrame {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    height: 376px;
}

.taskTitle {
    display: flex; 
    flex-direction: column;
    width: 440px;
    gap: 8px;
}

.taskTitle input {
    border-radius: 10px;
    border: 1px solid rgba(168, 168, 168, 1);
    font-size: 20px;
    font-weight: 400;
    color:rgba(209, 209, 209, 1);
    height: 48px;
}

.red {
    color: red;
}

.description {
    display: flex; 
    flex-direction: column;
    width: 440px; 
    height: 168px; 
    gap: 8px;
}

.description textarea {
    display: flex; 
    gap: 4px;
    height: 136px; 
    font-size: 20px;
    font-weight: 400;
    color:rgba(209, 209, 209, 1);
}

.assign {
    width: 440px; 
    height: 80px;
    top: 296px; 
    display: flex; 
    flex-direction: column;
    gap: 4px;
}

.dropdown select{
    width: 440px; 
    height: 48px; 
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding: 12px 16px 12px 16px;
    font-size: 20px;
    font-weight: 400;
}

select#assign {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-image: url('../img/arrow_drop_down.png'); 
    background-position: right 8.39px top 20px;
    background-repeat: no-repeat; 
}

.taskFrame2 {
    width: 50%;
    height: 424px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}

.deadline {
    width: 440px; 
    display: flex; 
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    font-weight: 400;
}

.deadline input {
    height: 48px;
    border-radius: 10px;
    border: 1px solid rgba(168, 168, 168, 1);
    color:rgba(209, 209, 209, 1);
    background-image: url('../img/event.png'); 
    background-repeat: no-repeat; 
    background-position: top 10px right 10px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.priority {
    display: flex; 
    flex-direction: column;
    gap: 8px; 
    width: 440px; 
    height: 88px;
}

.prio {
    display: flex;
    gap: 16px;
}

.prio button {
    width: 136px; 
    height: 56px; 
    border-radius: 10px; 
    padding: 16px 10px 16px 10px; 
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    display:flex; 
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.active {
    background-color: rgba(255, 168, 0, 1) !important;
    color: white;
}

.category {
    width: 440px; 
    height: 80px; 
    display: flex; 
    flex-direction: column;
    gap: 8px;
}

.subtasks {
    width: 440px; 
    height: 80px; 
    top: 336px; 
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtasks input {
    padding: 12px 21px 12px 21px; 
    border-radius: 10px;
    border: 1px solid rgba(168, 168, 168, 1);
    color:rgba(209, 209, 209, 1);
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    color: rgba(209, 209, 209, 1);
    background-image: url('../img/add-2.png'); 
    background-repeat: no-repeat; 
    background-position: top 16px right 10px;
    
}

.required-create {
    margin-left: 328px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.required {
    width: 170px; 
    height: 27px;  
    display: flex;
    font-size: 15px; 
    font-weight: 400;
}

.create {
    width: 309px; 
    height: 56px; 
    top: 889px; 
    left: 995.25px; 
    display: flex; 
    gap: 16px;
}

.clear {
    display: flex;
    align-items: center;
    border: 1px solid rgba(42, 54, 71, 1);
    width: 110px; 
    height: 56px; 
    border-radius: 10px;
    padding: 16px; 
    gap: 4px;
    background-color: rgba(246, 247, 248, 1);
    font-size: 21px; 
    font-weight: 400;
    cursor: pointer;
}

.clear:hover {
    color: rgb(41,171,226);
    border-color: rgb(41,171,226);
}

.createTask {
    display: flex; 
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(42, 54, 71, 1);
    width: 183px; 
    height: 56px; 
    border-radius: 10px;
    padding: 16px; 
    gap: 4px;
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 21px; 
    font-weight: 700;
    cursor: pointer;
}

.createTask:hover {
    background-color: rgb(41,171,226);
}