body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

@font-face {
    font-family: "Inter", sans-serif;
    src: url(/fonts/inter-v13-latin-regular.woff2);
}

.main-add-task-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
}

.taskWrapper p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 20px;
}

.addTask {
    margin-left: 328px;
    margin-right: 40px;
    margin-top: 150px;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 1);
    font-size: 61px;
    font-weight: 700;
}

.taskWrapper {
    margin-left: 328px;
    display: flex;
    margin-right: 40px;
    min-height: 424px;
}

.parting-line {
    height: 375px;
    width: 1px;
    background-color: #D1D1D1;
}

.taskFrame {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    height: 376px;
}

.taskTitle {
    display: flex; 
    flex-direction: column;
    width: 440px;
    gap: 8px;
}

.taskTitle input {
    border-radius: 10px;
    border: 1px solid rgba(168, 168, 168, 1);
    font-size: 20px;
    font-weight: 400;
    color: black;
    height: 48px;
    padding-left: 10px;
    cursor: pointer;
}

#title:focus-within {
    border: 1px solid #29abe2;
    outline: none;
}

.red {
    color: red;
}

.description {
    display: flex; 
    flex-direction: column;
    width: 440px; 
    height: 168px; 
    gap: 8px;
}

.description textarea {
    display: flex; 
    gap: 4px;
    height: 136px; 
    font-size: 20px;
    font-weight: 400;
    color: black;
    border: 1px solid rgba(168, 168, 168, 1);
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    cursor: pointer;
}

#description:focus-within {
    border: 1px solid #29abe2;
    outline: none;
}

.assign {
    position: relative; 
    width: 440px;
    display: flex; 
    flex-direction: column;
    gap: 8px;
}

.assign input, .contacts-dropdown {
    box-sizing: border-box; 
    width: 100%; 
}

.assign input {
    height: 48px;
    border: 1px solid; 
    border-radius: 10px;
    padding: 12px 16px; 
    font-size: 16px;
    background-image: url('../img/arrow_drop_down.png'); 
    background-position: right 10px top 20px; 
    background-repeat: no-repeat; 
    cursor: pointer;
    border: 1px solid rgba(168, 168, 168, 1);
    font-size: 20px;
}

.assignContact:focus-within {
    border: 1px solid #29abe2;
    outline: none;
}

.contacts-dropdown {
    position: absolute;
    top: 100%; 
    left: 0;
    border: 1px solid #ccc;
    border-top: none; 
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background-color: white;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}

#contactsDropdown {
    display:none;
}
#contactsDropdown.show {
    display: block;
}
.contacts-dropdown {
    display: none; 
}

.contacts-dropdown.show {
    display: block; }

.contact-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 7px 16px;
    font-size: 20px;
    cursor: pointer;
}

.contact-option:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.contact-option.selected {
    background-color: rgba(9, 25, 49, 1);
    color: rgba(255, 255, 255, 1);
}

.contact-initials {
    display: flex;
    gap: 10px; 
    width: 42px;
    height: 42px; 
    border-radius: 45px; 
    color: #ffffff;
    align-items: center;
    justify-content: center;
}

.name-container-add-task {
    display: flex; 
    align-items: center;
    gap: 16px; 
}

.selected-contacts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Adjust based on design */
    margin-top: 5px; /* Space between input and this container */
}

.dropdown select {
    width: 440px; 
    height: 48px; 
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    cursor: pointer;
}

#category:focus-within {
    border: 1px solid #29abe2;
    outline: none;
}

.taskFrame2 {
    width: 50%;
    min-height: 424px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}

.deadline {
    width: 440px; 
    display: flex; 
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    font-weight: 400;
}

.deadline input {
    height: 48px;
    border-radius: 10px;
    border: 1px solid rgba(168, 168, 168, 1);
    background-image: url('../img/event.png'); 
    background-repeat: no-repeat; 
    background-position: top 10px right 10px;
    padding-left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: black;
}

#due:focus-within {
    border: 1px solid #29abe2;
    outline: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.priority {
    display: flex; 
    flex-direction: column;
    gap: 8px; 
    width: 440px; 
    height: 88px;
}

.prio {
    display: flex;
    gap: 16px;
}

.prio button {
    width: 136px; 
    height: 56px; 
    border-radius: 10px; 
    padding: 16px 10px 16px 10px; 
    background-color: rgba(255, 255, 255, 1);
    display:flex; 
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.prio button:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

#medium {
    background-color: rgb(255, 168, 0);
    color: white;
}

#medium img {
    height: 8px;
    width: 21px;
    filter: brightness(0) invert(1);
}

.urgent-active {
    background-color: rgb(255, 62, 0);
    filter: brightness(0) invert(1);
    color: white;
}

.urgent-inactive {
    background-color: white;
    filter: none;
    color: black;
}

.category {
    width: 440px; 
    height: 80px; 
    display: flex; 
    flex-direction: column;
    gap: 8px;
}

.subtasks {
    width: 440px; 
    height: 80px; 
    top: 336px; 
    display: flex;
    flex-direction: column;
    gap: 8px;  
}

.subList {
    width: 440px; 
    max-height: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
     }

    .subList ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 6px 16px;
    }

.subtasks input {
    border-radius: 10px;
    border: 1px solid rgba(168, 168, 168, 1);
    color:rgba(209, 209, 209, 1);
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    color: black;
    background-image: url('../img/add-2.png'); 
    background-repeat: no-repeat; 
    background-position: top 16px right 10px;
    height: 48px;
    padding-left: 10px;
    cursor: pointer;
}

#subtasks:focus-within {
    border: 1px solid #29abe2;
    outline: none;
}

.required-create {
    margin-top: 20px;
    margin-left: 328px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}

.required {
    height: 27px;  
    display: flex;
    font-size: 15px; 
    font-weight: 400;
}

.create {
    width: 309px; 
    height: 56px; 
    display: flex; 
    gap: 16px;
}

.clear {
    display: flex;
    align-items: center;
    border: 1px solid rgba(42, 54, 71, 1);
    width: 110px; 
    height: 56px; 
    border-radius: 10px;
    padding: 16px; 
    gap: 4px;
    background-color: rgba(246, 247, 248, 1);
    font-size: 21px; 
    font-weight: 400;
    cursor: pointer;
}

.clear:hover {
    color: rgb(41,171,226);
    border-color: rgb(41,171,226);
}

.clear:hover .crossAddTask {
    filter: brightness(0) saturate(100%) invert(52%) sepia(98%) saturate(407%) hue-rotate(155deg) brightness(93%) contrast(90%); 
}

.createTask {
    display: flex; 
    align-items: center;
    justify-content: center;
    border: none;
    width: 183px; 
    height: 56px; 
    border-radius: 10px;
    padding: 16px; 
    gap: 4px;
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 21px; 
    font-weight: 700;
    cursor: pointer;
}

.createTask:hover {
    background-color: rgb(41,171,226);
}

@media(max-width: 1300px) {
    .main-add-task-container {
        align-items: center;
    }

    .dropdown select {
        font-size: 16px;
    }

    .addTask {
        margin-top: 128px;
    }

    .taskWrapper {
        flex-direction: column;
        height: fit-content;
    }

    .parting-line {
        display: none;
    }

    .required-create {
        justify-content: flex-start;
        margin-top: 20px;
        width: 399px;
    }

    .create {
        min-width: 220px;
        justify-content: end;
    }

    .taskFrame {
        width: 399px;
    }

    .taskFrame2 {
        align-items: flex-start;
        width: 399px;
    }

    .clear {
        display: none;
    }

    .main-add-task-container {
        height: 100vh;
        overflow: hidden;
    }

    .taskWrapper {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .required {
        min-width: 220px;
    }

    .addTask {
        margin-left: 232px;
        font-size: 47px;
    }

    .taskWrapper {
        margin-left: 232px;
        margin-right: 20px;
    }

    .required-create {
        margin-left: 232px;
        margin-bottom: 100px;
    }

    .taskTitle input {
        height: 36px;
        font-size: 16px;
    }

    .description textarea {
        height: 104px;
        font-size: 16px;
    }

    .description {
        height: 131px;
        width: 396px;
    }

    .taskTitle {
        width: 396px;
    }

    .assign {
        width: 396px;
    }

    .assign input {
        width: 396px;
        height: 40px;
        font-size: 16px;
    }

    .taskFrame {
        height: fit-content;
    }

    .deadline {
        width: 396px;
    }

    .deadline input {
        height: 40px;
        width: 384px;
        font-size: 16px;
    }

    .priority {
        width: 396px;
    }

    .prio button {
        width: 122.33px;
    }

    .subtasks {
        width: 396px;
    }

    .subtasks input {
        font-size: 16px;
        height: 40px;
    }

    .required-create {
        width: 396px;
    }

    .category {
        width: 396px;
    }

    .createTask {
        width: 183px;
        font-size: 21px;
    }

    .required {
        width: 163px;
        min-width: 0;
        font-size: 14px;
    }

    .dropdown select {
        width: 396px;
    }
}

@media(max-width: 1100px) {
    .addTask {
        margin-left: 20px;
    }

    .taskWrapper {
        margin-left: 20px;
    }

    .required-create {
        margin-left: 20px;
    }
}

@media(max-width: 430px) {
    .taskFrame {
       width: 300px;
    }

    .taskTitle {
        width: 300px;
    }

    .description {
        width: 300px;
    }

    .assign {
        width: 300px;
    }

    .assign input {
        width: 300px;
    }

    .dropdown select {
        width: 300px;
    }

    .taskFrame2 {
        width: 300px;
    }

    .deadline {
        width: 300px;
    }

    .deadline input {
        width: 286px;
    }

    .priority {
        width: 300px;
    }

    .prio button {
        width: 89px;
        font-size: 14px;
    }

    .category {
        width: 300px;
    }

    .subtasks {
        width: 300px;
    }

    .required-create {
        width: 300px;
    }
}


