
.menuwrapper {
    display: flex; 
    flex-direction: column;
    position: absolute;
    width: 1208px; 
    height: 232px; 
    top: 96px;
    left: 232px;
}
.menubar {
    display: flex;
   align-items: center;
   justify-content: space-between;
   width: 1056px; 
   height: 73px;
   margin-top: 79.5px;
   margin-left: 64px;
}

.headline {
    display: flex;
    align-items: center;
    width: 176px; 
    height: 73px; 
    gap: 1px; 
    font-size: 61px;
    font-weight: 700;
}

.menubar h2 {
    font-size: 52px;
}

.menubar input{
    height: 48px;
    width: 312px; 
    border-radius: 10px;
    border: 1px; 
    padding: 8px 16px 8px 16px; 
    gap: 10px;
    font-size: 20px;
    font-weight: 400;
}
.menubar button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 16px 8px 16px;
    font-weight: 700;
    font-size: 21px;
    height: 48px;
    width: 160px;
    border-radius: 10px;
    background-color: #2A3647;
    color:white;
    border: 1px;
    border-color:#2A3647 ;
   
}

.fakeInput {
    display: flex; 
    align-items: center;
    gap: 16px;
}

.fakeInput img {
width: 48px; 
height: 32px;
}

.searchAdd {
    display: flex;
    gap: 32px;
    width: 504px; 
    height: 48px;
}

.progressBar {
    width: 1208px; 
    height: 24px; 
    display: flex; 
    justify-content: space-between;
    padding: 0px 64px 0px 64px;
    top: 200.5px; 
    position: absolute;
}

.progressHead {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 244px; 
    height: 24px; 
}

.progressDone {
    display: flex; 
    align-items: center;
    width: 244px; 
    height: 24px; 
    gap: 35px;
}
.lineUp {
    width: 244px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskWrapper {
    display: flex;
    justify-content: space-between;
    gap: 26px;
    width: 1208px; 
    height: 688px; 
    padding: 0px 6px 0px 64px; 
    position: absolute; 
    top: 336px; 
    left: 232px;
}

.toDoColumn {
    display: flex; 
    flex-direction: column;
    gap: 24px; 
    width: 246px; 
    height: 688px; 
}

.column {
    display: flex; 
    flex-direction: column;
    width: 252px; 
    height: 668px; 
    gap: 16px; 
}

.card {
    width: 252px; 
    height: 263px; 
    border-radius: 24px; 
    padding: 16px; 
    gap: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.08)
    ;
}