body {
    background-color: #F6F7F8;
}

h1 {
    font-size: 64px;
    margin: 16px;
    margin-top: 0;
}

/* ---------- HEIGHT AND WIDTH ---------- */

.height13 {
    height: 13px;
}

.height15 {
    height: 15px;
}

.height18 {
    height: 18px;
}

/* ---------- PADDING AND MARGIN ---------- */

.padTop60 {
    padding-top: 60px;
}

.padRight30 {
    padding-right: 30px;
}

.padRight60 {
    padding-right: 60px;
}

.padLeft8 {
    padding-left: 8px;
}

.marBot20 {
    margin-bottom: 20px;
}

.marLeft23 {
    margin-left: 23px;
}

.marLeft30{
    margin-left: 30px;
}

/* ---------- FONTS ---------- */

.fontSize14 {
    font-size: 14px;
}

.fontSize16 {
    font-size: 16px;
}

.hoverBlueUnderline:hover {
    text-decoration: underline;
    text-decoration-color: #29ABE2;
}

/* ---------- OTHERS ---------- */

.registerCheckedCheckbox {
    top: -2px;
    position: absolute;
    height: 19px;
}

.parentRegisterArrowBack {
    position: absolute;
    left: 50px;
    top: 60px;
    height: 20px;
    padding: 6px;
    transition: all 125ms ease-in-out;
}

.parentRegisterArrowBack:hover {
    padding: 5px;
    background-color: #f4f4f4;
    border-radius: 100%;
}

.registerArrowBack {
    height: 18px;
    transition: all 125ms ease-in-out;
}

.registerArrowBack:hover {
    height: 20px;
}

.overDivGuestLogInBtn {
    width: 134px;
    height: 46px;
}

.registerJoinLogo {
    width: 100px;
    left: 60px;
    top: 60px;
}

.overDivFormLogIn {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

.formLogIn {
    box-shadow: 0px 0px 14px 3px #0000000A;
    background-color: white;
    padding: 40px 80px;
    border-radius: 25px;
}

.blueLine {
    width: 150px;
    height: 2px;
    background-color: #29ABE2;
    margin-bottom: 20px;
}

.bot60LeftCenter {
    bottom: 60px;
    left: calc(50vw - 110px);
}

.logInInputBorder {
    border-radius: 9px;
    border: 1px solid #D1D1D1;
    width: 330px;
    padding: 8px 15px;
    outline: none;
}

.logInInputBorder:focus {
    border: 1px solid #29ABE2;
}

.logInInputBorder::placeholder {
    color: #CDCDCD;
}

.pointerEventsNone {
    pointer-events: none;
}

.top9 {
    top: 9px;
}

.top11 {
    top: 11px;
}

.right0 {
    right: 0;
}

.right11 {
    right: 11px;
}

/* ---------- ANIMATIONS ---------- */

.opacity0to1 {
    animation-name: opacity0to1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.logoSlideIn {
    animation-name: logoSlideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes opacity0to1 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes logoSlideIn {
    0% {
        width: 274px;
        left: calc(50vw - 137px);
        top: calc(50vh - 167px);
    }
    25% {
        width: 274px;
        left: calc(50vw - 137px);
        top: calc(50vh - 167px);
    }
    100% {
        width: 100px;
        left: 60px;
        top: 60px;
    }
}